<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @element_prototype.name %>
</p>


<%= link_to 'Edit', edit_element_prototype_path(@element_prototype) %> |
<%= link_to 'Back', element_prototypes_path %>
