<h1>Create a new Flow</h1>
Select Flow Type:

<div class="action_selector">
<%= link_to "Watt to kW/day",new_flow_path(:type=>"FlowPowerDailySum"),:class=>"btn btn-primary" -%><br><br>
</div>

<%= link_to 'Back', flows_path %>
