<h1>Create a new Action</h1>
Select Action Type:

<div class="action_selector">
<%= link_to "Watt to kW/day",new_action_path(:type=>"ActionPowerDailySum"),:class=>"btn btn-primary" -%><br><br>
</div>

<%= link_to 'Back', actions_path %>
