<h1>New widget</h1>

Select Widget Type:
<% Widget.types.each do |type | %>

<H2><%= image_tag "#{type}.png",:width=>120 %><%= link_to type,new_widget_path(:type=>type,:dashboard=>params[:dashboard]) %></H2>
<% if proto=Widget.find_prototype(type) %>
<%= proto.description %>
<% end %>
<br/>
<% end %>


<%= link_to 'Back', widgets_path %>
